.past {
    background-color: #c0bfc4;
    color: black;
  }

  .present {
    background-color: #95df95;
    color: white;
  }

  .future {
    background-color: #7cace2;
    color: white;
  }

  button {
      background-color: #576b7e;
      color: black;
  }

  button:hover {
      opacity: .5;
  }