.past {
    background-color: #e7e7e9;
    color: black;
  }

  .present {
    background-color: #b2e0b2;
    color: white;
  }

  .future {
    background-color: #aec7e4;
    color: white;
  }

  button {
      background-color: #6e879e;
      color: black;
  }

  button:hover {
      opacity: .5;
  }